@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
	/*background-size: 100%;
	background-repeat: none;*/
	background: #000;
	font-family: 'Open Sans', sans-serif;
}

#lg_principal {
	width:700px;
   	height:400px;
   	position:absolute;
   	top:50%;
   	left: 50%;
   	margin-top:-200px;
   	margin-left: -350px;
   	border-radius: 10px ;
   	box-shadow: #fff 0px 0px 5px;
   	background: rgba(255,255,255,0.2);
}

#logo {
	width: 400px;
	height: 220px;
	position: relative;
	top: 25px;
	background: #FFF;
	border-radius: 10px;
	/*background-image: url('../images/logo.png');*/
	background-size: 100%;
	background-repeat: none
}

#login {
	width: 300px;
	height: 200px;
	position: relative;
	top: 40px;
	z-index: 99999;
	text-align: center;
}

#login span, #login input {
	display: block;
	margin: 0 auto;
}

#login span {
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color:#19b;
}

#login input[type=text] {
	width: 160px;
	height: 25px;
	margin-top: 10px;
	border: 1px solid #bbb;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	background: #fafafa;
}

#login input[type=submit] {
	width: 60px;
	height: 25px;
	margin-top: 9px;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	background: #fafafa
}

#login .senha {
	line-height: 15px;
	font-size: 12px;
}

#login .senha {
	cursor: pointer;
}